// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// Color Scheme
$restaurant-navy: #011627;
$restaurant-white: #fdfffc;
$restaurant-turquoise: #2ec4b6;
$restaurant-red: #e71d36;
$restaurant-gold: #ff9f1c;

$navbarMobileBreakpoint: 700;

// Globals
// $body-font-family: 'Palatino', 'Roboto' !default;
// $heading-font-family: 'Palatino', 'Roboto' !default;
